<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">标签列表</h4>
<!--          <p class="category">Here is a subtitle for this table</p>-->
        </div>
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <thead>
            <tr>
              <th class="text-center">ID</th>
              <th>标签名称</th>
              <th>备注</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <% @tags.each do |tag| %>
              <tr>
                <td class="text-center"><%= tag.id %></td>
                <td><%= tag.name %></td>
                <td><%= tag.remark %></td>
                <td>
                  <%= link_to "编辑", edit_tag_path(tag.id) %>
                  <%= link_to "删除", tag_path(tag.id), method: :delete %>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>